{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>daiky</title>
        <link rel="stylesheet" type="text/css" href="{% static 'style/main.css' %}">
    </head>
    <body>
        <!-- compass -->
        <section>
            <div class="com-container">
                <div class="box box-1">
                    <p>asd</p>
                </div>
                <div class="box box-2">
                    <p class="logo">daiky</p>
                </div>
                <div class="box box-3">
                    <p>sda</p>
                </div>
            </div>
        </section>
        <!-- feed -->
        <section>
            <div class="main-container">
                <div class="box box-1">
                    <p>asd</p>
                </div>
                <div class="box box-2">
                    <p>dsa</p>
                </div>
                <div class="box box-3">
                    <p>sda</p>
                </div>
            </div>
        </section>
        <!-- links -->
        <section>
            <div class="lin-container">

            </div>
        </section>
    </body>
</html>